@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.thumbnails2 {
    width: 20%;
}

.main-image2 {
    width: 70%;
    max-width: 430px;
    background-color: #F9F1E7;
    height: 100%;
}

.warning {
    margin-left: -10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* nav {
    padding-left: 1rem !important;
    padding-right: 3rem !important;
} */

.navbar-brand {
    font-family: "Montserrat", serif;
    font-size: 32px;

}

.navbar-brand img {
    width: 42px;
    height: auto;
}

.lg-nav-menu {
    gap: 3.5rem;
} 

.no-display-lg {
    display: none !important;
}

.nav-icons {
    font-size: 1.2rem;
}

.shift-down {
    margin-top: 2px;
}

.form-control:focus {
    border: none !important;
    outline: none !important;
}

.hero {
    background: url(src/images/hero-background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* padding-right: 3em; */
}

.hero-block {
    background-color: #FFF3E3;
    width: 50%;
    max-width: 650px;
    margin-top: 5rem;
}

.content small {
    font-size: 16px;
    letter-spacing: 3px;
}

.content h1 {
    color: #B88E2F;
    font-size: 52px;
    width: 85%;
    max-width: 400px;
}

.content p {
    font-size: 18px;
    max-width: 600px;
}

.content button {
    background-color: #B88E2F;
    padding: 1.5rem 4.5rem;
    border: none;
}

.content button:hover {
    background-color: #a9801f;
    border: 1px solid #B88E2F;
    /* color: #B88E2F !important; */
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    /* padding-left: 0px !important;
    padding-right: 0px !important; */
}

.section2 h2 {
    font-size: 32px;
}

.section2-desc {
    font-size: 20px;
    color: #666666;
}

.category {
    cursor: pointer;
}

.category p {
    font-size: 24px;
}

.section3 h2 {
    font-size: 40px;
}

.product-card {
    cursor: pointer;
}

.card-body {
    background-color: #F4F5F7;
}

.card-title {
    font-weight: 600 !important;
    font-size: 24px;
}

.card-text {
    color: #898989;
}

.card-price {
    font-size: 20px;
    color: #3A3A3A;
}

.compare-price {
    color: #B0B0B0;
    text-decoration: line-through;
}

.badge {
    top: 8%;
    right: 1%;
    width: 48px;
    height: 48px;
    
}

.discount {
    background-color: #E97171;
}

.new-arrival {
    background-color: #2EC1AC;
}

.products-btn {
    border: 1px solid #B88E2F;
    color: #B88E2F;
    padding: 1rem 5rem;

}

.products-btn:hover {
    color: #ffffff;
    background-color: #B88E2F;

}

.section4 {
    background-color: #FCF8F3;
}

.block1 {
    padding: 0 1rem 0 5rem;
}

.block1 h4 {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.block1 p {
    color: #616161;
}

.block1 button {
    background-color: #B88E2F;
}

.block1 button:hover {
    border: 2px solid #B88E2F;
    color: #B88E2F !important;

}

.overlay-block {
    background-color: #FFFFFFB8;
    backdrop-filter: blur(1px)
}

.overlay-block small {
    color: #616161;
}

.overlay-title {
    font-size: 28px;
}

.arrow-block {
    font-size: 1.1rem;
    background-color: #B88E2F;
}

.carousel-indicators {
    top: 102%;
    gap: 1rem;
}

.carousel-indicators button {
    background-color: #D8D8D8 !important;
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
}

.carousel-indicators .active {
    background-color: #B88E2F !important;
}

.section5 p {
    font-size: 20px;
    color: #616161;
}

.section5 h3 {
    font-size: 40px;
    color: #3A3A3A;
}

footer {
    padding: 2.5rem 3rem 0 3rem;
    border-top: 1px solid #0000002B
}

.brand-details h4 {
    font-size: 24px;
}

footer p, .list-head {
    color: #9F9F9F;
}

.form-email, .form-button {
    border-bottom: 1px solid #000000 !important;
}

.form-email {
    outline: none !important;
    font-size: 14px;
    width: 200px;
}

.form-email::placeholder {
    color: #9F9F9F;
    font-size: 14px;
}

hr {
    border: 1px solid #D9D9D9;
}


/* Products Page */
.breadcrumbs-container {
    margin-top: 70px;
    background-color: #F9F1E7;
    padding: 1.5rem 3rem;
}

.breadcrumbs-container a {
    color: #9F9F9F;
}

.vl {
    border-right: 1px solid #9F9F9F;
    height: 30px;
    border-left: 1px solid #9F9F9F;
}

.product-block {
    padding: 1.5rem 3rem 1.5rem 3rem;
}

.thumbnail {
    width: 65px;
    height: 65px;
    background-color: #F9F1E7;
}

.main-image-block {
    height: 100%;
}

.main-image {
    background-color: #F9F1E7;
    /* background-image: url(src/images/main-product-image2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.product-title {
    font-size: 42px;
}

.product-price {
    font-size: 24px;
    color: #9F9F9F;
}

.rating {
    color: #FFC700;
}

.review-count {
    font-size: 13px;
    color: #9F9F9F;
}

.product-desc {
    font-size: 13px;
    width: 70%;
}

.size-selection p, .color-selection p {
    font-family: 14px;
    color: #9F9F9F;
}

.size-options div {
    background-color: #F9F1E7;
    width: 30px;
    height: 30px;
    font-size: 13px;
}

.size-options .selected {
    background-color: #B88E2F;
    color: #FFFFFF;
}

.color-options div {
    width: 30px;
    height: 30px;
}

.color-options .purple {
    background-color: #816DFA;
}

.color-options .brown {
    background-color: #B88E2F;
}

.quantity-selection {
    padding: 1.2rem .6rem;
    gap: 2.05rem;
    border: 1px solid #9F9F9F;
}

.increase:hover, .decrease:hover {
    transform: scale(1.3);
    transition: .2s;

}

.product-btn {
    font-size: 18px;
}

.product-btn:hover {
    background-color: #3A3A3A !important;
    color: #FFFFFF;
}

.meta-data {
    color: #9F9F9F;
}

.twitter {
    width: 20px;
    height: 20px;
    font-size: 14px;
}

.social-icon {
    font-size: 20px;
    color: black;
}

.additional-info {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.headings {
    width: 60%;
}


.headings h4 a {
    color: #9F9F9F;
    font-size: 22px;

}

.additional-info p {
    width: 80%;
    text-align: justify;
    color: #9F9F9F;
}

.additional-images div {
    background-color: #F9F1E7;
}




@media (min-width: 1200px) {
    /* nav {
        padding-left: 2rem !important;
        padding-right: 3.5rem !important;
    } */

    .navbar-brand {
        font-size: 34px;
    
    }
    
    .navbar-brand img {
        width: 50px;
    }

    .category {
        width: 30%;
        
    }

    .product-card {
        width: 25%;
    }

    .feat-products {
        padding-left: 5em !important;
        padding-right: 5em !important;
    }

    .col-b {
    width: 20% !important;
    }

    footer {
        padding: 2.5rem 6rem 0 6rem;
    }

    .brand-details p {
        width: 75%;
    }

    /* Product Page */

    .breadcrumbs-container {
        padding: 2rem 6rem;
    }

    .product-block {
        padding: 2rem 6rem 3rem 6rem;
    }

    .thumbnail {
        width: 80px;
        height: 80px;
    }

    .product-btn {
        font-size: 20px;
    }
    
    .headings h4 a {
        font-size: 24px;
    }
}


@media (max-width: 992px) { 
    nav {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .no-display-lg {
        display: flex !important;
    }

    .no-display-sm {
        display: none !important;
    }

    .navbar-brand {
        font-size: 26px;
    }

    .navbar-brand img {
        width: 28px;
    }

    .navbar-toggler, .navbar-toggler:hover {
        border: none;
        outline: 0;
    }

    .hero {
        background-position: bottom;
        height: 70vh;
    }

    .hero-block {
        width: 70%;
    }

    .content h1 {
        font-size: 40px;
        width: 75%;
    }

    .section2 h2 {
        font-size: 28px;
    }
    
    .section2-desc {
        font-size: 18px;
    }

    .category p {
        font-size: 20px;
    }

    .section3 h2 {
        font-size: 30px;
    }
    
    .card-title {
        font-size: 20px;
    }
    
    .card-price {
        font-size: 16px;
    }
    
    .compare-price {
        font-size: 14px;
    }

    .block1 {
        padding: 0 0 0 2rem;
    }
    
    .block1 h4 {
        font-size: 30px;
    }
    
    .overlay-block small {
        font-size: 12px;
    }
    
    .overlay-title {
        font-size: 22px;
    }
    
    .arrow-block {
        font-size: 1rem;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    .section5 p {
        font-size: 18px;
    }

    .section5 h3 {
        font-size: 32px;
    }

    footer {
        padding: 2rem 2.5rem 0 2.5rem;
    }

    .brand-details h4 {
        font-size: 22px;
    }

    footer p, .list-head {
        font-size: 14px;
    }

    .menus-block {
        justify-content: start !important;
        gap: 3rem;
    }

    .footer-link {
        font-size: 14px;
    }

    .newsletter {
        display: flex;
        justify-content: end;
    }

    .form-email {
        font-size: 12px;
        width: 200px;
    }

    .form-email::placeholder {
        font-size: 12px;
    }

    .form-button {
        font-size: 14px;
    }
    .copyright {
        text-align: center;
    }
    
    /* Product Page */

    .breadcrumbs-container {
        padding: 1rem 3rem;
    }

    .flex-product-block {
        flex-direction: column;
    }

    .product-block {
        padding: 2rem 0 3rem 0;
    }

    .thumbnail {
        width: 100px;
        height: 100px;
    }

    .product-title {
        font-size: 30px;
    }

    .product-price {
        font-size: 20px;
    }

    .product-desc {
        width: 100%;
    }

    .quantity-selection {
        padding: 1rem .6rem;
        gap: 2.05rem;
    }
    
    .product-btn {
        font-size: 16px;
    }

    .additional-info {
        width: 91%;
        margin: 0 auto;
    }

    .headings {
        width: 80%;
    }    

    .headings h4 a {
        font-size: 20px;
    }

    .additional-info p {
        width: 90%;
    }


 }

 @media (max-width: 768px) {
    nav {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

    .hero {
        justify-content: center !important;
        align-items: end !important;
        padding-bottom: 3em;
        height: 75vh;
    }
    .hero-block {
        width: 85%;
    }

    .content h1 {
        font-size: 32px;
        width: 100%;
    }

    .content p {
        font-size: 16px;
    }

    .content button {
        padding: 1rem 3rem;
    }

    .section2 h2 {
        font-size: 26px;
    }
    
    .section2-desc {
        font-size: 16px;
    }

    .category p {
        font-size: 20px;
    }

    .product-card {
        width: unset;
    }

    .card-text {
        font-size: 14px;
    }

    .block1 {
        padding: 0 0 1rem 0;
        text-align: center;
    }

    .block1 h4 {
        font-size: 26px;
    }

    .section5 p {
        font-size: 16px;
    }

    .section5 h3 {
        font-size: 28px;
    }

    footer {
        padding: 2rem 1.5rem 0 1.5rem;
    }

    .newsletter {
        justify-content: start;
    }

    form {
        justify-content: start;
    }

    .form-email {
        width: 200px;
    }

    /* Product Page */

    .breadcrumbs-container {
        font-size: 14px;
    }

    .vl {
        height: 20px;
    }

    .product-block {
        padding: 1.5rem 0;
    }
    

    .thumbnail {
        width: 75px;
        height: 75px;
    }

    .quantity-selection {
        padding: 1rem .6rem;
        gap: 2.05rem;
    }
    

    .headings {
        width: 80%;
    }    

    .headings h4 a {
        font-size: 20px;
    }

    .additional-info p {
        width: 90%;
    }

 }

 @media (max-width: 576px) {
    footer {
        padding: 2rem 1rem 0 1rem;
    }

    .thumbnails {
        flex-direction: row !important;
        justify-content: space-around;
        gap: 0 !important;
    }

    .int-buttons {
        flex-direction: column;
        align-items: start !important;
    }

    .product-btns {
        width: 100%;
    }

    .headings {
        width: 98%;
    }

    .headings h4 a {
        font-size: 18px;
    }

    .additional-info p {
        width: 100%;
        font-size: 14px;
    }

    .additional-images {
        flex-direction: column;
    }
    
 }
